
.template-close, .template-clone, .template-delete, .add-field {

    position: absolute;

    right: 10px;

    opacity: 0.7;

    width: 6em;
    height: 3em;


}

.template-close {

    bottom: 10px;

}

.template-clone {
    
    bottom: 60px;

}

.template-delete {

    bottom: 110px;

}

.add-field {

    top: 40px;

}

.template-close:hover, .template-clone:hover, .add-field:hover, .add-field:focus {

    opacity: 1;

}

.set-name {

    position: absolute;
    
    opacity: 0.7;

    right: 10px;
    top: 10px;

}

.set-name:hover, .set-name:focus {

    opacity: 1;

}

.template-field-div {

    margin: 5px;

    width: calc(100% - 15em);
    height: calc(100vh - 7em - 20px);

    overflow-y: auto;
    overflow-x: hidden;

    padding-bottom: 5px;

}