
.template-icon {

    background-color: lightgray;

    margin: 2px;

    vertical-align: top;

    width: 69px;
    height: 69px;

    opacity: 0.7;

    overflow: hidden;

}

.current-icon {

    border-bottom: solid 5px rgba(25, 255, 25, 0.7);

}

.template-icon:hover {

    opacity: 1;

}